API_PORT=3333
NODE_ENV=development
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=your-firebase-client-email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
JWT_PRIVATE_KEY=your-jwt-secret
JWT_EXPIRATION_TIME_IN_SECONDS=604800
GOOGLE_GENERATIVE_AI_API_KEY=your-gemini-api-key
